<div class="text-center">
	<div ng-if="myinfo.user">
	<h3>Your registration information:</h3>
	<div>{{ myinfo.user.firstName }} {{ myinfo.user.lastName }}</div>
	<div>{{ myinfo.user.email }}</div>
	<div>{{ myinfo.user.phone }}</div>
	<div>{{ myinfo.user.favoriteItem.name }}</div>
	<div ng-if="myinfo.user.favoriteItem.image_present">
		<img ng-src="https://cbr500r.herokuapp.com/images/{{ myinfo.user.favoriteItem.shortname }}.jpg" alt="{{ myinfo.user.favoriteItem.name }}">
	</div>
	<div>{{ myinfo.user.favoriteItem.description }}</div>
	</div>
	<span ng-if="!myinfo.user">You're not registered yet, <a ui-sref="public.signup">Sign up now!</a></span>
</div>
